<!-- views/action.ejs -->
   <form action="/regions/<%- region %>/<%- deployment %>/<%- cluster.name %>/perform/<%- action.name %>" method="post">
        <input type="submit" class="btn <%- action.confirm ? 'btn-danger' : 'btn-primary' %> btn-<%= action.name %>"
        value=<%- action.name %> />

   </form>