<!-- views/action_status.ejs -->
<% include partials/header %>

<h2>Cluster</h2>
<h2><%- cluster.name %> 
    :: <%- region %> 
    :: <%- deployment %> 
    ::  <%- action %> 
    :: <%- id %> 
</h2>

<pre><code class="language-bash">
<% messages.forEach(function(message) { %>
    <%= message.msg %> <% });%>
</code></pre>

<% include partials/footer %>