<!-- views/cluster.ejs -->
<% include partials/header %>

<h2>Cluster</h2>
<h2><%- cluster.name %> :: <%- region %> :: <%- deployment %> </h2>
<p></p>
<h3>name: <%- cluster.name %> </h3>
<h3>status: <%- cluster.status %> </h3>
<h3>state: <%- cluster.state %> </h2>

<% cluster.actions.forEach(function(action) { %>
  <% include action %>
<% });%>

<div>
    <img src="/regions/<%= region %>/<%=deployment %>/<%= cluster.name %>/diagram" />
</div>

<% if (typeof definitions !== undefined) { %>
    <div>
        <pre>
            <%= definitions %>
        </pre>
    </div>
<% } %>

<% include partials/footer %>