<!-- views/deployment.ejs -->
<% include partials/header %>

<h2>Deployment</h2>
<h2><%- deployment %> :: <%- region %> </h2>
<p></p>
<table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">State</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>

        
        <tbody>

            <% clusters.forEach(function(cluster) { %>
            <tr>
                <td>
                    <a href="/regions/<%= region %>/<%=deployment %>/<%= cluster.name %>">
                        <%= cluster.name %>
                    </a>
                </td>
                <td><%= cluster.state %></td>
                <td><%= cluster.status %></td>
                
                <td>
                    <% cluster.actions.forEach(function(action) { %>
                        <% include action %>
                    <% });%>
                </td>
                
            </tr>

        <% }); %>
         
        </tbody>
      </table>

<% include partials/footer %>